.landing-button{
    width: 90vw;
    max-width: 400px;
    height: 50px;
}

.slogan-text{
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

